<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Shipan Liu, Ludovico Ferrara, Minhua Liu, Rodolphe Loic Souassi Tatang and Daeun Jung
  ~  * Copyright (c) 2023 . All rights reserved.
  ~  *  Last modified 11.07.23, 12:12
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Fit Mood"
        android:supportsRtl="true"
        android:theme="@style/Theme.A07"
        tools:targetApi="31">
        <activity
            android:name=".ExerciseVideoActivity"
            android:exported="false" />
        <activity
            android:name=".DigitSpanTask"
            android:exported="false" />
        <activity
            android:name=".GPS"
            android:exported="false" />
        <activity
            android:name=".Sensors"
            android:exported="false" />
        <activity
            android:name=".ConsentActivity"
            android:exported="false" />
        <activity
            android:name=".Questionaire_confirm"
            android:exported="false" />
        <activity
            android:name=".SettingsNotificationTime"
            android:exported="false" />
        <activity
            android:name=".Archive"
            android:exported="false" />
        <activity
            android:name=".Questionnaire"
            android:exported="false" />
        <activity
            android:name=".Tracking"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>